<div #quest class="quest">
  <h1 class="quest-question">{{ activeQuest }}</h1>
  <form (onSubmit)="answerQuest()">
    <input type="text" />
    <button type="submit" (click)="openDialog()">{{ submit }}</button>
  </form>
</div>

<div #quest class="quest">
  <h1 mat-dialog-title class="quest-question">{{ activeQuest }}</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [(ngModel)]="data.answer" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data.answer" cdkFocusInitial>
      {{ submit }}
    </button>
  </div>
</div>
